* {
    margin: 0;
}

@media (min-width: 400px) and (max-width: 800px) {

    .nav_links {
        visibility: hidden;
    }

    .right_nav {
        visibility: hidden;
    }

    .top_main_info {
        visibility: hidden;
    }

    .mid_main {
        margin-left: 35%;
        flex-direction: column;
    }

}

body {
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

.nav_container {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom: 1px solid rgb(1,113,208);
    font-family: 'Noto Sans', sans-serif;
    z-index: 1;
}

.left_nav {
    display: flex;
    width: 53%;
}

.nav_image {
    display: flex;
    width: 10%;
}

.nav_image img {
    width: 100%;
}

.nav_links {
    display: flex;
    width: 90%;
}

.nav_links a {
    margin: auto;
    font-size: 1.2em;
    color: rgb(1,113,208);
}

.right_nav {
    width: 47%;
    display: flex;
}

.left_icons {
    width: 30%;
    display: flex;
}

.left_icons input {
    width: 100%;
    margin: auto;
    border: 2px solid rgb(1,113,208);
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}

.left_icons i {
    margin: auto;
    color: rgb(190, 190, 190);
    z-index: 1;
    font-size: 0.9em;
    position: relative;
    right: 72.5%;
}

.left_icons input:focus {
    outline: none;
    background-color: rgb(240, 240, 240);
    text-align: left;
}

.left_icons input:focus + #search_glass {
    visibility: hidden;
}

.right_icons {
    width: 50%;
    display: flex;
}

.right_icons i {
    margin: auto;
    padding-right: 0.5%;
    font-size: 1.2em;
    color: rgb(1,113,208);
}

.right_icons a {
    margin: auto;
    padding-right: 2%;
    font-size: 1.2em;
    color: rgb(1,113,208);
}

.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top_main {
    width: 100%;
    position: relative;
}

.top_main img {
    width: 100%;
    z-index: -1;
}

.top_main_info {
    width: 35%;
    font-size: 2em;
    position: absolute;
    bottom: 35%;
    left: 5%;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.info {
    margin: 8%;
}

.top_main_info p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.6em;
}

.top_main_info button {
    width: 30%;
}

.mid_main {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.mid_left {
    width: 25%;
}

.mid_mid {
    width: 25%;
}

.mid_right {
    width: 25%;
}

.image {
    width: 100%;
    text-align: center;
}

.image img {
    width: 100%;
}

.image h1 {
    padding-top: 2%;
    font-size: 1.5em;
    text-align: left;
    font-family: "intel-one","intel-clear",Helvetica,Arial,sans-serif;
}

.image a {
    font-family: "intel-clear","tahoma",Helvetica,"helvetica",Arial,sans-serif;
    padding-top: 1%;
    font-size: 1em;
    text-align: left;
    float: left;
    color: rgb(1,113,208);
}

.image_text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttons {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.first_button {
    padding: 2% 6%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    width: 45%;
    background-color: white;
}

.first_button:hover {
    background-color: rgb(12, 12, 12);
    color: white;
    cursor: pointer;
}

.second_button:hover {
    background-color: rgb(11,123,218);
    color: white;
    cursor: pointer;
  }

.second_button {
    padding: 2% 6%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    background-color: rgb(1,113,208); 
    color: white; 
    width: 45%;
    border: 1px solid white;
}

.bottom_main {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    background-color: rgb(225, 225, 225);
    display: flex;
    gap: 100px;
    justify-content: center;
}

.bottom_left {
    width: 37.5%;
}

.bottom_right {
    width: 37.5%;
}

.bottom_image {
    width: 100%;
}

.bottom_image img {
    width: 100%;
}

.bottom_image_text {
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottom_image_text h1 {
    font-size: 1.5em;
    font-family: "intel-one","intel-clear",Helvetica,Arial,sans-serif;
    color: rgb(1, 113, 208);
}

.bottom_image_text p {
    font-size: 1.2em;
    font-family: "intel-clear","tahoma",Helvetica,"helvetica",Arial,sans-serif;
}

.bottom_buttons {
    margin-top: 2%;
}

.bottom_first_button {
    padding: 3% 10%;
    font-size: 1.4em;
    width: 50%;
    background-color: rgb(225, 225, 225);
}

.bottom_first_button:hover {
    background-color: rgb(12, 12, 12);
    color: white;
    cursor: pointer;
}

.footer_main {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    background-color: rgb(2, 2, 2);
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer_left {
    width: 20%;
    display: flex;
    align-items: center;
}

.footer_right {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.footer_left img {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer_info {
    margin-bottom: 4%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.footer_info p {
    line-height: 170%;
}

.footer_info a {
    font-size: 1.4em;
    font-family: "intel-clear","tahoma",Helvetica,"helvetica",Arial,sans-serif;
    text-decoration: none;
    color:white;
    padding-right: 2%;
    padding-top: 5%;
}

.footer_icons {
    margin-bottom: 4%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.footer_icons i {
    color: white;
    font-size: 1.8em;
    padding-right: 3%;
}

.footer_extra_info span {
    color: white;
}

.footer_extra_info a {
    text-decoration: none;
    color: white;
}